{% extends 'core/managerBase.html' %}
{% load static %}
{% block title%} Cadastro {% endblock %}

{% block user %} {{request.user.first_name}} {% endblock %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="{% static 'media/js/userCreate.js' %}"></script>

{% endblock %}

{% block form %} Adições de contratos devem ser 
feitas apenas na página principal {% endblock %}

{% block page %}

<main class="my-form mt-4">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">Alterar </div>
                        <div class="card-body">
                            <form name="my-form" onsubmit="return validform()" action="" enctype="multipart/form-data" method="POST">
                                {% csrf_token %}
                                <!-- Nome -->
                                <!-- <div class="form-group row">
                                    <label for="name" class="col-md-4 col-form-label text-md-right">Nome</label>
                                    <div class="col-md-6">
                                        <input type="text" id="name" class="form-control" name="name">
                                    </div>
                                </div> -->

                                <!-- CPF -->
                                <!-- <div class="form-group row">
                                    <label for="CPF" class="col-md-4 col-form-label text-md-right">CPF</label>
                                    <div class="col-md-3">
                                        <input type="text" id="CPF" class="form-control" name="cpf">
                                    </div> -->

                                    <!-- RG -->
                                    <!-- <label for="RG" class="col-form-label text-md-right ml-5">R.G.</label>
                                    <div class="col-md-2 ml-4">
                                        <input type="text" id="RG" class="form-control" name="rg">
                                    </div>
                                </div> -->

                                <!-- Endereço -->
                                <!-- <div class="form-group row">
                                    <label for="present_address" class="col-md-4 col-form-label text-md-right">Endereço</label>
                                    <div class="col-md-6">
                                        <input type="text" id="present_address" class="form-control" name=end>
                                    </div>
                                </div> -->

                                <!-- Email -->
                                <!-- <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                                    <div class="col-md-6">
                                        <input type="text" id="email" class="form-control" name="email">
                                    </div>
                                </div>
 -->
                                <!-- Telefone -->
                                <!-- <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Contato</label>
                                    <div class="col-md-2">
                                        <input type="text" id="phone_number" class="form-control" name=tel>
                                    </div> -->

                                    <!-- Data de Nascimento -->
                                    <!-- <label for="birth" class="col-form-label text-md-right ml-5">Data de Nascimento</label>
                                    <div class="col-md-2 ml-3">
                                        <input class="form-control" type="date" value="2011-08-19" id="birth" name="birth">
                                    </div>
                                </div> -->

                                <!-- Senha -->
                                <!-- <div class="form-group row">
                                    <label for="pswd" class="col-md-4 col-form-label text-md-right">Senha</label>
                                    <div class="col-md-2">
                                        <input type="password" id="pswd" class="form-control" name="password1">
                                    </div>

                                    <label for="pswd2" class="col-form-label text-md-right ml-5">Confirme sua Senha</label>
                                    <div class="col-md-2 ml-3">
                                        <input type="password" id="pswd2" class="form-control" name="password2">
                                    </div>
                                </div> -->

                                <!-- Confirmação Senha -->
                                <!-- <div class="form-group row"> -->
                                    <!-- sexo  -->
                                    <!-- <label for="sex" class="col-md-4 col-form-label text-md-right">Sexo</label>
                                    <div class="col-md-1">
                                        <select id="Sex" name="sex" class="form-control">
                                            <option selected>-</option>
                                            <option>M</option>
                                            <option>F</option>
                                          </select>
                                    </div> -->
                                    
                                    <!-- Estado civil -->
                                    <!-- <label for="status" class="col-form-label text-md-right">Estado Civil</label>
                                    <div class="col-md-2">
                                        <select id="status" name="status" class="form-control">
                                            <option selected>-</option>
                                            <option>Solteiro(a)</option>
                                            <option>Casado(a)</option>
                                            <option>Viúvo(a)</option>
                                            <option>Divorciado(a)</option>
                                          </select>
                                    </div> -->

                                    <!-- <label for="pic" class="col-form-label text-md-right">Foto</label>
                                    <div class="col-md-2">
                                        {{form.profile_pic}}
                                    </div>
                                </div> -->
                                {% for field in form %}
                                <div class="fieldWrapper">
                                    {{ field.errors }}
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            
                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-secondary">
                                        Alterar
                                        </button>
                                    </div>
                                </div>
                            </form>

                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}