{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #7c94aa">
                    <a class="navbar-brand" href="{% block root %}{% endblock %}">
                        <img style="width: 120px; height: 70px" src="{% static 'media/images/img/final.png' %}" alt="LegAut">
                    </a>
            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav my-2 my-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:userSettings' user=request.user info='user' %}">Alterar Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:userSettings' user=request.user info='client' %}">Alterar Cadastro</a>
                            </li>
                        </ul>
                    </div>
            
                    <div>
                        <span class="navbar-brand">
                            Olá {% block user %}{% endblock %}!
                        </span>
                        <span class="navbar-brand">
                            <a href="{% url 'core:logout' %}" style="color: #2e353b">Sair</a>
                        </span>
                    </div>
                </nav>
            {% endblock %}
        </header>
        {% block page %}{% endblock %}
    </body>
</html>