{% extends 'core/userBase.html' %}
{% load static %}
{% block title %} {{client.name}} {% endblock %}
{% block root %} {% url 'core:user' user=client.user.username %} {% endblock %}
{% block user %} {{client.name}} {% endblock %}
{% block page %}
<div class="container"></div>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Descrição</th>
              <th>Arquivo</th>
              <th>Último Upload</th>
            </tr>
          </thead>
          <tbody>
            {% for contract in contracts %}
                <tr>
                    <td>{{contract.description}}</td>
                    <td><a href="{% url 'core:download' file=contract.id %}">Baixar</a></td>
                    <td>{{contract.last_modify}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>
                        Você não possui contratos
                    </td>
                </tr>
            {% endfor %}
          </tbody>
{% endblock %}  
  </body>
  </html>
  